{% if root.route == '/docs' %}
{# Under /docs, the root for the menu is the 2nd level menu, ie the versions. #}
{% set _root = page.find('/docs/' ~ uri.paths[1]) %}
{% else %}
{% set _root = root %}
{% endif %}
<ul class="list-group sidebar-nav" id="sidebar-nav">
{% for item in _root.children %}
    {% if item.visible %}
    {% if item.children|length > 0 %}
    <li class="list-group-item list-toggle">
        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-{{ item.slug }}">{{ item.menu }}</a>
        <!-- <ul id="collapse-{{ item.slug }}" class="collapse{% if item.active or item.activeChild %} in{% endif %}"> -->
        <ul id="collapse-{{ item.slug }}" class="collapse in">
        {% for child in item.children %}
            {% if child.visible %}
            <li><a href="{{ child.url }}"><i class="fa fa-{% if child.active %}check-circle-o{% else %}chevron-circle-right{% endif %}"></i>{{ child.menu }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </li>
    {% else %}
    <li class="list-group-item"><a href="{{ item.url }}">{{ item.menu }}</a></li>
    {% endif %}
    {% endif %}
{% endfor %}
</ul>
