<ul class="list-group sidebar-nav" id="sidebar-nav">
{% for item in root.children %}
    {% if item.children|length > 0 %}
    <li class="list-group-item list-toggle">
        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-{{ item.slug }}">{{ item.menu }}</a>
        <ul id="collapse-{{ item.slug }}" class="collapse{% if item.active or item.activeChild %} in{% endif %}">
        {% for child in item.children %}
            {% if child.visible %}
            <li><a href="{{ child.url }}"><i class="fa fa-{% if child.active %}check-circle-o{% else %}chevron-circle-right{% endif %}"></i>{{ child.menu }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </li>
    {% else %}
    <li class="list-group-item"><a href="{{ item.url }}">{{ item.menu }}</a></li>
    {% endif %}
{% endfor %}
</ul>
