{% block sidebar %}
{% set title_tag = title_tag|default('h3') %}

{% if config.plugins.taxonomylist.enabled %}

    {% set taxonomy = "tag" %}
    {% set taxlist = taxonomylist.get() %}
    {% if taxlist %}
                            <!-- Blog Tags -->
                            <div class="blog-tags">
                                <{{ title_tag }}>{{ "PLUGIN_BLOG_INJECTOR.TEMPLATES.POPULAR_TAGS"|t }}</{{ title_tag }}>
                                <ul class="blog-tags">
        {% for tax,value in taxlist[taxonomy] %}
                                    <li>
                                        <a href="{{ root.url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ tax|e('url') }}" class="blog-tag">{{ tax }}</a>
                                    </li>
        {% endfor %}
                                </ul>
                            </div>
                            <!-- End Blog Tags -->
    {% endif %}
{% endif %}

                            <!-- Recent Posts -->
                            <!-- <div class="recent-posts">
                                <{{ title_tag }}>{{ "PLUGIN_BLOG_INJECTOR.TEMPLATES.RELATED_POSTS"|t }}</{{ title_tag }}>
                                <ul class="posts-list margin-top-10">
{% for post in recent_posts %}
                                    <li>
                                        <div class="recent-post">
                                            <a href="{{ post.url }}" class="posts-list-title">{{ post.title }}</a>
                                            <br>
                                            <span class="recent-post-date">{{ post.date|date("F Y") }}</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
{% endfor %}
                                </ul>
                            </div> -->
                            <!-- End Recent Posts -->

{% endblock %}
