{% extends 'partials/page.html.twig' %}

{% block content %}
{{ block('blog_post') }}
{% endblock %}

{% block blog_post %}
{% set blog = page.parent %}
{% set truncate = false %}
{% set big_header = true %}
            <!-- === BEGIN CONTENT === -->
            <div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-30">
                        <!-- Main Column -->
                        <div class="col-md-9">
{{ block('post') }}
                        </div>
                        <!-- End Main Column -->
                        <!-- Side Column -->
                        <div class="col-md-3">
{% include 'blog/sidebar.html.twig' %}
                        </div>
                        <!-- End Side Column -->
                    </div>
                </div>
            </div>
            <!-- === END CONTENT === -->
{% endblock %}

{% block post %}
{{ block('urls') }}
{% set header_image = page.header.header_image|defined(true) %}
{% set header_image_width  = page.header.header_image_width|defined(900) %}
{% set header_image_height = page.header.header_image_height|defined(600) %}
{% set header_image_file = page.header.header_image_file %}
                            <div class="blog-post">
{{ block('post_header') }}
{{ block('post_content') }}
                            </div>
                            <!-- End Blog Post -->
{% endblock %}

{% block post_header %}
                                <div class="blog-item-header">
    {{ block('post_header_title') }}
                                </div>
                                <div class="blog-post-details">
    {{ block('post_header_date') }}
    {{ block('post_header_taxonomy') }}
    {{ block('post_header_comments') }}
                                </div>
{% endblock %}

{% block post_header_title %}
{% set title_tag = title_tag|default('h3') %}
{% if page.header.link %}
                                    <{{ title_tag }}>
                                        {% if page.header.continue_link is not sameas(false) %}
                                        <a href="{{ page.url }}"><i class="fa fa-angle-double-right"></i></a>
                                        {% endif %}
                                        <a href="{{ page.header.link }}">{{ page.title }}</a>
                                    </{{ title_tag }}>
{% else %}
                                    <{{ title_tag }}>{{ page.title }}</{{ title_tag }}>
{% endif %}
{% endblock %}

{% block post_header_taxonomy %}
{% if page.taxonomy.tag %}
                                    <!-- Tags -->
                                    <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags">
                                        <i class="fa fa-tag color-gray-light"></i>
    {% for tag in page.taxonomy.tag %}
                                        <a href="{{ blog.url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
    {% endfor %}
                                    </div>
                                    <!-- End Tags -->
{% endif %}
{% endblock %}

{% block post_header_date %}
                                    <!-- Date -->
                                    <div class="blog-post-details-item blog-post-details-item-left date-icon">
                                        <i class="fa fa-calendar"></i> <span>{{ page.date|date("F j, Y") }}</span>
                                    </div>
                                    <!-- End Date -->
{% endblock %}

{% block post_header_comments %}
{% if config.plugins.jscomments.enabled %}
                                    <!-- # of Comments -->
                                    <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last">
                                        <a href="">
                                            <i class="fa fa-comments color-gray-light"></i>
                                            3 Comments
                                        </a>
                                    </div>
                                    <!-- End # of Comments -->
{% endif %}
{% endblock %}

{% block post_image %}
{% if header_image %}
    {% if header_image_file %}
        {% set header_image_media = page.media.images[header_image_file] %}
    {% else %}
        {% set header_image_media = page.media.images|first %}
    {% endif %}
                        <div class="thumbnail" style="margin-bottom:20px">
                            {{ header_image_media.cropZoom(header_image_width, header_image_height).html | raw }}
                            <div class="caption">
{% include 'blog/credits/unsplash.html.twig' with {'author':header_image_media.meta.author} %}
                            </div>
                        </div>
{% endif %}
{% endblock %}

{% block post_content %}
                                <div class="blog-item">
                                    <div class="clearfix"></div>
                                    <div class="blog-post-body row margin-top-15">
                                        <div class="col-md-12">
    {{ block('post_image') }}
                                        </div>
                                        <div class="col-md-12">
                                            {{ page.content | raw }}
                                        </div>
                                    </div>
                                    <div class="blog-item-footer">
    {{ block('post_comments') }}
                                    </div>
                                </div>
{% endblock %}

{% block post_comments %}
{% if config.plugins.jscomments.enabled %}
                                        <!-- Comments -->
                                        <div class="blog-recent-comments panel panel-default margin-bottom-30">
                                            <div class="panel-heading"><h3>Comments</h3></div>
  {{ jscomments() }}
                                        </div>
                                        <!-- End Comments -->
{% endif %}
{% endblock %}
