{% extends 'layouts/page.html.twig' %}

{% block content %}
{% set collection = page.collection() %}
            <!-- === BEGIN CONTENT === -->
            <div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-30">
                        <!-- Main Column -->
                        <div class="col-md-9">
{{ block('posts') }}
{{ block('pagination') }}
                        </div>
                        <!-- End Main Column -->
                        <!-- Side Column -->
                        <div class="col-md-3">
{% include 'blog/sidebar.html.twig' %}
                        </div>
                        <!-- End Side Column -->
                    </div>
                </div>
            </div>
            <!-- === END CONTENT === -->
{% endblock %}

{% block posts %}
{% for child in collection %}
{% set blog = page %}
{% set truncate = true %}
{% set page = child %}
{{ block('post') }}
{% endfor %}
{% endblock %}

{% block post %}
{{ block('urls') }}
{% set header_image = page.header.header_image|defined(true) %}
{% set header_image_width  = page.header.header_image_width|defined(900) %}
{% set header_image_height = page.header.header_image_height|defined(600) %}
{% set header_image_file = page.header.header_image_file %}
{% set post_header_image = page.header.media.images|first %}
                            <!-- Blog Post -->
                            <div class="blog-post padding-bottom-20">
                                <!-- Blog Item Header -->
                                <div class="blog-item-header">
{{ block('post_header_title') }}
                                </div>
                                <!-- End Blog Item Header -->
                                <!-- Blog Item Details -->
                                <div class="blog-post-details">
{{ block('post_header_date') }}
{{ block('post_header_taxonomy') }}
{{ block('post_header_comments') }}
                                </div>
                                <!-- End Blog Item Details -->
                                <!-- Blog Item Body -->
                                <div class="blog">
                                    <div class="clearfix"></div>
                                    <div class="blog-post-body row margin-top-15">
{% if header_image %}
                                        <div class="col-md-5">
{{ block('post_image') }}
                                        </div>
                                        <div class="col-md-7">
{{ block('post_content') }}
                                        </div>
{% else %}
                                        <div class="col-md-12">
{{ block('post_content') }}
                                        </div>
{% endif %}
                                    </div>
                                </div>
                                <!-- End Blog Item Body -->
                            </div>
                            <!-- End Blog Item -->
{% endblock %}

{% block post_header_title %}
{% set title_tag = title_tag|default('h3') %}
{% if page.header.link %}
                                    <!-- Title -->
								    <{{ title_tag }}>
								        {% if page.header.continue_link is not sameas(false) %}
								        <a href="{{ page.url }}"><i class="fa fa-angle-double-right"></i></a>
								        {% endif %}
								        <a href="{{ page.header.link }}">{{ page.title }}</a>
								    </{{ title_tag }}>
{% else %}
                                    <{{ title_tag }}><a href="{{ page.url }}">{{ page.title }}</a></{{ title_tag }}>
{% endif %}
                                    <div class="clearfix"></div>
                                    <!-- End Title -->
{% endblock %}

{% block post_header_taxonomy %}
{% if page.taxonomy.tag %}
                                    <!-- Tags -->
                                    <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags">
                                        <i class="fa fa-tag color-gray-light"></i>
    {% for tag in page.taxonomy.tag %}
                                        <a href="{{ blog.url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
    {% endfor %}
                                    </div>
                                    <!-- End Tags -->
{% endif %}
{% endblock %}

{% block post_header_comments %}
{% if config.plugins.jscomments.enabled %}
                                    <!-- # of Comments -->
                                    <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last">
                                        <i class="fa fa-comments color-gray-light"></i> 2 Comments
                                    </div>
                                    <!-- End # of Comments -->
{% endif %}
{% endblock %}

{% block post_header_date %}
                                    <!-- Date -->
                                    <div class="blog-post-details-item blog-post-details-item-left">
                                        <i class="fa fa-calendar color-gray-light"></i> <span>{{ page.date|date("F j, Y") }}</span>
                                    </div>
                                    <!-- End Date -->
{% endblock %}

{# {% block post_image %}
{% if header_image_file %}
    {% set header_image_media = page.media.images[header_image_file] %}
{% else %}
    {% set header_image_media = page.media.images|first %}
{% endif %}
                                        <div class="thumbnail">
                                            {{ header_image_media.cropZoom(header_image_width, header_image_height).html|raw }}
                                        </div>
{% endblock %} #}
{% block post_image %}
{% if post_header_image %}
    {% set header_image_media = page.media.images[post_header_image] %}
{% else %}
    {% set header_image_media = page.media.images|first %}
{% endif %}
                                        <div class="thumbnail">
                                            {{ header_image_media.cropZoom(header_image_width, header_image_height).html|raw }}
                                        </div>
{% endblock %}

{% block post_content %}
                                            <p>{{ page.summary|raw }}</p>
                                            <!-- Read More -->
                                            <a href="{{ page.url }}" class="btn btn-primary">
                                                {{ "PLUGIN_BLOG_INJECTOR.TEMPLATES.CONTINUE_READING"|t }}
                                                <i class="icon-chevron-right readmore-icon"></i>
                                            </a>
                                            <!-- End Read More -->
{% endblock %}

{% block pagination %}
{% if config.plugins.pagination.enabled and collection.params.pagination %}
                            <!-- Pagination -->
{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
                            <!-- End Pagination -->
{% endif %}
{% endblock %}
