{% extends 'layouts/page.html.twig' %}

{% block content %}
            <div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-40">
                        <!-- Begin Sidebar Menu -->
                        <div class="col-md-3">
                            {% include 'sidebar/menu.html.twig' %}
                        </div>
                        <!-- End Sidebar Menu -->
                        <div class="col-md-9">
                            <div class="row">
                                <!-- Page title -->
                                <div class="col-md-9">
                                    <div class="headline">
                                        <h3>{{ page.title }}</h3>
                                    </div>
                                    <hr>
                                </div>
                                <!-- End Page title -->
                            </div>

                            <!-- Page content -->
                            <div class="row">
                                <div class="col-md-12 doc-page-content">
                                    {{ page.content|raw }}
                                </div>
                            </div>

{% if example %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {{ example.html|raw }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">The HTML code.</div>
                                <div class="col-md-12">
                                    <pre><code class="language-php">
{{ example.page|raw }}
                                    </code></pre>
                                </div>
                            </div>

{% for source in example.sources %}
                            <p>
                                <div class="strong">{{ source.desc }}</div>
{% for path in source.paths %}
                                <div><a href="{{ path }}">{{ path }}</a></div>
{% endfor %}
                            </p>
{% endfor %}

                            <div class="row">
                                <div class="col-md-12">The Jaxon setup code.</div>
                                <div class="col-md-12">
                                    <pre><code class="language-php">
{{ example.code|raw }}
                                    </code></pre>
                                </div>
                            </div>

{% if example.ready != '' %}
                            <div class="row">
                                <div class="col-md-12">The Javascript code is generated from this PHP template.</div>
                                <div class="col-md-12">
                                    <pre><code class="language-php">
{{ example.readyTpl|raw }}
                                    </code></pre>
                                </div>
                            </div>
{% endif %}

{% endif %}
                            <!-- End Page content -->
                            <div class="clearfix margin-bottom-10"></div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block styles %}
{{ jaxon.css|raw }}
{% endblock %}

{% block scripts %}
{{ jaxon.js|raw }}
{{ jaxon.script|raw }}

{% if example %}
<script type="text/javascript">
{{ example.ready|raw }}
</script>
{% endif %}
{% endblock %}
