                    <h4>{{ page.title }}</h4>
                    {{ content|raw }}
                    <div class="row margin-vert-10">
                        <div class="col-md-6">
                            {{ page.header.dbadmin.intro|raw }}
                            <ul style="padding-inline-start:15px">
{% for feature in page.header.dbadmin.features %}
                                <li>{{ feature }}</li>
{% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <a href="/images/jaxon-dbadmin.png"><img src="/images/jaxon-dbadmin.png" alt="Jaxon dbadmin" /></a>
                        </div>
                        <div class="col-md-12">
                            {{ page.header.dbadmin.outro|raw }}
                        </div>
                    </div>
