                        <div class="col-md-12 text-center">
                            <h3 class="padding-vert-10">{{ page.title }}</h3>
                            {{ content }}
                        </div>
{% for integration in page.header.integrations %}
                        <div class="col-md-3 text-center">
                            <h4 class="padding-top-10 animate fadeIn">{{ integration.name }}</h4>
                            <p class="animate fadeIn">{{ integration.description }}</p>
                            <a href="{{ integration.github }}" target="_blank"><button type="button" class="btn btn-default">Plugin</button></a>
                            <a href="{{ integration.website }}" target="_blank"><button type="button" class="btn btn-default">Website</button></a>
{% if integration.demo %}
                            <a href="{{ integration.demo }}"><button type="button" class="btn btn-default">Demo</button></a>
{% endif %}
                        </div>
{% endfor %}
