                        <h3 class="padding-vert-10 text-center">{{ page.title }}</h3>
                        <div class="text-justify">
                            {{ content }}
                        </div>
{# {% for plugin in page.header.plugins %}
                        <div class="col-md-3 text-center">
                            <h4 class="padding-top-10 animate fadeIn">{{ plugin.name }}</h4>
                            <p class="animate fadeIn">{{ plugin.description }}</p>
                            <a href="{{ plugin.github }}" target="_blank"><button type="button" class="btn btn-default">Plugin</button></a>
                            <a href="{{ plugin.website }}" target="_blank"><button type="button" class="btn btn-default">Website</button></a>
{% if plugin.demo %}
                            <a href="{{ plugin.demo }}"><button type="button" class="btn btn-default">Demo</button></a>
{% endif %}
                        </div>
{% endfor %} #}
