{% embed 'partials/base.html.twig' %}

    {% block content %}
        {% if config.plugins.breadcrumbs.enabled %}
            <div class="sg-breadcrumb">
                <div class="row">
                    {% include 'partials/breadcrumbs.html.twig' %}
                </div>
            </div>
        {% endif %}
        
        <div class="blog-content-item row">
            <div id="sidebar" class="medium-3 columns medium-nopaddingleft medium-nopaddingright">
                {% include 'sidebar/jaxon.html.twig' %}
            </div>
            <div id="item" class="medium-9 columns medium-nopaddingright">
                {% include 'partials/jaxon.html.twig' %}
            </div>
        </div>
    {% endblock %}

    {% if jaxon %}
    {% block stylesheets %}
        {{ parent() }}
        {% do assets.addCss('theme://css/callout.css',160) %}
    {% endblock %}

    {% block bottom %}
        {{ parent() }}
        {{ jaxon.css }}
        {{ jaxon.js }}
        {{ jaxon.script }}
    {% endblock %}
    {% endif %}

{% endembed %}
